// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #18BEA8;
@blue: #2A7ABE;
@purple: #a763bb;
@green: #90BD39;
@red: #cc4a4a;
@orange: #F09F41;
@light-orange: #f0c674;
